<h2 class="font-bold text-xl">About Me</h2>
<p>
  Computer science student passionate about UX, accessibility and web
  development.
</p>
<h2 class="font-bold text-xl">My Mission</h2>
<p>
  Explore and share information on how to improve UX, accessibility and develop
  more effective and friendly websites for all users.
</p>
