<div class="flex gap-10 flex-col px-5">
  <div class="flex justify-between">
    <div class="flex justify-center items-center gap-2">
      <div class="w-2 h-2 rounded-full bg-[#D9D9D9]"></div>
      Web Developer
    </div>
    <div
      class="uppercase flex justify-center items-center gap-2 px-3 rounded-full text-sm bg-[#DDF7ED] text-[#009857]"
    >
      <div class="w-2 h-2 rounded-full bg-[#009857]"></div>
      Available for work
    </div>
  </div>

  <div class="flex flex-row">
    <h1 class="font-bold text-4xl">
      Iván Ruiz
      <span class="block font-extralight text-2xl w-[75%]">
        Web Developer from Málaga, Spain.
      </span>
    </h1>
    <div class="w-32 h-32 rounded-full bg-[#D9D9D9]"></div>
  </div>
  <div class="flex gap-4">
    <a
      target="_blank"
      href="mailto:ivr.644@gmail.com"
      class="border bg-black text-white border-black px-3 py-2 rounded-md w-full text-center"
    >
      Send a mail
    </a>
    <a
      target="_blank"
      href="https://www.linkedin.com/in/iv%C3%A1n-ruiz-8b751627a/"
      class="bg-gray-500 px-3 py-2 rounded-md w-full text-center text-white"
    >
      White me on Linkedin
    </a>
  </div>
</div>
