---
import Card from "../Card.astro";
import { ProjectsContent } from "../../content/projects.content";

const { preview } = Astro.props;
---

<div class="flex flex-col gap-5 p-4 rounded-xl bg-[#F6F6F6] dark:bg-[#0c1120]">
  {
    preview && (
      <div class="flex items-center gap-3 justify-between">
        <div class="flex justify-center items-center gap-2">
          <div class="w-2 h-2 bg-[#D9D9D9] rounded-full" />
          <h3 class="text-xl font-semibold">Projects</h3>
        </div>
        <a href="/projects" class="bg-white text-black px-3 rounded-lg text-lg">
          View All
        </a>
      </div>
    )
  }
  {
    ProjectsContent.map(
      (project: {
        SLUG: string;
        ID: string;
        DESCRIPTION: string;
        NAME: string;
      }) => (
        <a href={`/projects/${project.SLUG}`}>
          <Card
            id={project.ID}
            title={project.NAME}
            description={project.DESCRIPTION}
          />
        </a>
      )
    )
  }
</div>
