---
import Github from "@/icons/Github.astro";
import Threads from "@/icons/Threads.astro";
import Linkedin from "@/icons/Linkedin.astro";
---

<div class="flex gap-5">
  <div
    class="group bg-[#D9D9D9] rounded-full w-[48px] h-[48px] flex justify-center items-center p-4 hover:w-auto hover:border-2 hover:border-black transition ease-in-out duration-300"
  >
    <Github
      class="w-[24px] group-hover:hidden absolute transition-opacity ease-in-out delay-150 duration-300"
    />
    <a
      class="hidden group-hover:block uppercase"
      href="https://github.com/Ivanruii"
      target="_blank">Github</a
    >
  </div>

  <div
    class="group bg-[#D9D9D9] rounded-full w-[48px] h-[48px] flex justify-center items-center p-4 hover:w-auto hover:border-2 hover:border-black transition ease-in-out duration-300"
  >
    <Linkedin class="w-[24px] group-hover:hidden absolute" />
    <a class="hidden group-hover:block uppercase" href="/" target="_blank"
      >Linkedin</a
    >
  </div>

  <div
    class="group bg-[#D9D9D9] rounded-full w-[48px] h-[48px] flex justify-center items-center p-4 hover:w-auto hover:border-2 hover:border-black transition ease-in-out duration-300"
  >
    <Threads class="w-[24px] group-hover:hidden absolute" />
    <a class="hidden group-hover:block uppercase" href="/" target="_blank"
      >Threads</a
    >
  </div>
</div>
