---
import Dropdown from "@/components/Dropdown.astro";
import { ProjectsContent } from "@/content/projects.content";
---

<nav class="border-b-2 border-black">
  <ul class="flex justify-between py-5">
    <li>
      <a class="header-a" href="#Home">Home</a>
    </li>
    <li>
      <Dropdown name="Projects" options={ProjectsContent} />
    </li>
    <li>
      <a class="header-a" href="#Education">Education & Certificates</a>
    </li>
    <li>
      <a class="header-a" href="#Contact">Contact me</a>
    </li>
  </ul>
</nav>

<script type="module">
  document.querySelectorAll(".header-a").forEach((a) => {
    a.addEventListener("click", function (event) {
      event.preventDefault();
      const elementId = this.getAttribute("href");
      document
        .querySelector(elementId)
        .scrollIntoView({ behavior: "smooth", block: "center" });
    });
  });
</script>
