<div id="Contact">
  <div class="pb-5">
    <h2 class="font-bold text-2xl">Contact Me</h2>
    <h3>
      Do you have any questions, suggestions or just want to say hello? I'd love
      to hear from you!
    </h3>
    <br />
    <div class="flex gap-4">
      <a
        target="_blank"
        href="mailto:ivr.644@gmail.com"
        class="border bg-black text-white border-black px-3 py-2 rounded-md w-full text-center"
      >
        Send a mail
      </a>
      <a
        target="_blank"
        href="https://www.linkedin.com/in/iv%C3%A1n-ruiz-8b751627a/"
        class="border border-black px-3 py-2 rounded-md w-full text-center"
      >
        White me on Linkedin
      </a>
    </div>
  </div>
</div>
