<nav>
  <ul class="flex justify-between gap-5">
    <li>
      <a class="header-a" href="#Home">Home</a>
    </li>
    <li>
      <a class="header-a" href="#Projects">Projects</a>
    </li>
    <li>
      <a class="header-a" href="#Education">Education & Certificates</a>
    </li>
    <li>
      <a class="header-a" href="#Contact">Contact me</a>
    </li>
    <li>ENG</li>
  </ul>
</nav>

<script type="module">
  document.querySelectorAll(".header-a").forEach((a) => {
    a.addEventListener("click", function (event) {
      event.preventDefault();
      const elementId = this.getAttribute("href");
      document
        .querySelector(elementId)
        .scrollIntoView({ behavior: "smooth", block: "center" });
    });
  });
</script>
