---
import Card from "@/components/Card.astro";
---

<div id="Projects">
  <div class="pb-5">
    <h2 class="font-bold text-2xl">Projects</h2>
    <h3>Some things I made...</h3>
  </div>
  <div class="flex flex-col gap-5">
    <Card
      title="Glint Blog"
      description="A space specialized in web development, UX and accessibility. Find articles and resources to improve your skills in these areas."
      pageUrl="https://glint-blog.com"
      githubRepo="https://github.com/Ivanruii/glint-blog"
    />

    <Card
      title="Other Project"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente harum itaque minima commodi blanditiis voluptatum, ab, soluta est voluptas placeat eum quasi quo saepe animi. Alias voluptatibus adipisci aliquam doloremque."
      pageUrl="https://glint-blog.com"
      githubRepo="https://github.com/Ivanruii/glint-blog"
    />
  </div>
</div>
