---
import "@fontsource-variable/lexend";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div
      class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-[#e8e8e8]"
    >
      <div
        class="diagonal-stripes p-2 w-full flex justify-center items-center text-xl font-bold sticky top-0 z-20 border-b-[#ffae00] border-b-2"
      >
        🚨 THIS SITE IS STILL UNDER DEVELOPMENT 🛠️
      </div>

      <div class="flex flex-col m-auto max-w-[120ch] px-5">
        <slot />
      </div>
    </div>
  </body>
  <style is:global>
    body {
      font-family: "Lexend Variable", system-ui, sans-serif;
      background: #e8e8e8;
    }
    .diagonal-stripes {
      background-image: repeating-linear-gradient(
        -45deg,
        #f4ce38 0,
        #ffae00 30px,
        #ffffff 10px,
        #ffffff 60px
      );
    }
  </style>
</html>
